body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
section#futbol {
    background: url('imagenes/futbol-bg.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}

section#baloncesto {
    background: url('imagenes/baloncesto-bg.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}



section#natacion {
    background: url('imagenes/natacion-bg.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}
.container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
aside {
    width: 200px;
    padding: 20px;
    background-color: hsla(212, 63%, 54%, 0.961);
    margin-left: 1300px;
    margin-bottom: 20px;
}
main {
    flex: 1;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
}



.slider-frame {
	width: 500px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}


.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}








.slider-dou {
	width: 500px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}


.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 10s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

